/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Active Help
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Help Dialog
 *-------------------------------------- */

.active-help-dialog {
  background-color: $white;
  border: 1px solid $gray;
  position: fixed;
  width: 25rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  text-transform: none;
  line-height: 2rem;
  padding: .5rem;
  z-index: 2000;
}

.active-help-dialog h4{
  margin-top: 0;
  display: inline-block;
}

.float-right {
    float: right;
}

/* Help Icon
 *-------------------------------------- */
.active-help-icon {
  float: right;
}
